{# Used to indicate where a new box will be added to the page #}
<div id="oc-boxes-box-placeholder">
    <div class="oc-boxes-box-placeholder__header">
        <div class="oc-boxes-box-placeholder__label">
            Pending Box
        </div>

        <div>
            <svg class="oc-boxes-box-placeholder__icon" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"/>
            </svg>
        </div>
    </div>
    <div class="oc-boxes-box-placeholder__preview">

    </div>
</div>

{# Used to visually focus the box #}
<div id="oc-boxes-box-focus"></div>
